{
  "extends": [
    "@jaybeeuu/eslint-config/base",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],

  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "rules": {
    "react/prop-types": "off"
  }
}