@keyframes fade-in {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

.spinner {
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.3px solid var(--spinner-secondary, rgba(255, 255, 255, .3));
  border-top-color: var(--spinner-main, #ffffff);
  border-radius: 50%;
  animation: spinner 2s ease-in-out infinite;
  -webkit-animation: spinner 2s ease-in-out infinite;
}

@keyframes spinner {
  0% { transform: rotate(40deg); }
  25% { transform: rotate(-40deg); }
  100% { transform: rotate(400deg); }
}
@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(40deg); }
  25% { -webkit-transform: rotate(-40deg); }
  100% { -webkit-transform: rotate(400deg); }
}